.toTop {
  transition: all ease;
  animation: toTop 2s ease;
  animation-fill-mode: forwards;
}
.toBottom {
  transition: all ease;
  animation: toBottom 2s ease;
  animation-fill-mode: forwards;
}

@keyframes toBottom {
  0% {
    z-index: 1;
    transform: translateX(0);
  }
  33% {
    transform: translateX(-4rem);
  }
  100% {
    z-index: 0;
    opacity: 0.5;
    transform: translateX(0);
    transform: scale(0.5);
  }
}

@keyframes toTop {
  0% {
    z-index: 0;
    transform: translateX(0);
    transform: scale(0.8);
  }
  33% {
    transform: translateX(4rem);
  }
  66% {
  }
  100% {
    z-index: 1;
    transform: translateX(0);
    transform: scale(1);
  }
}
